.home-page {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	font-size: 14px;
	padding: 40px 80px 20px;
}

@media screen and (max-width: 700px) {
	.home-page {
		padding: 40px;
		font-size: 13px;
	}
}

@media screen and (max-width: 320px) {
	.home-page {
		padding: 40px 30px;
		font-size: 13px;
	}
}
