.country-details {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.country-details img {
	width: 90%;
	height: 350px;
}

#light .country-details img {
	box-shadow: 3px 3px 5px #f2f2f2, -3px 3px 5px #f2f2f2, 3px -3px 5px #f2f2f2,
		-3px -3px 5px #f2f2f2;
}

#dark .country-details img {
	box-shadow: 3px 3px 5px #1d2a34, -3px 3px 5px #1d2a34, 3px -3px 5px #1d2a34,
		-3px -3px 5px #1d2a34;
}

.country-details-infos {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
	height: 100%;
}

.country-details-infos > * {
	width: 100%;
}

.country-details h2 {
	margin-top: 10px;
	font-size: 25px;
	flex-grow: 1;
}

.country-details-infos > div {
	flex-grow: 1;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.country-details-right {
	margin-left: 10px;
}

.country-details-bottom {
	margin-bottom: 10px;
}

.country-details-left dt,
.country-details-right dt,
.country-details-bottom dt {
	clear: left;
	float: left;
	font-weight: bold;
	margin-bottom: 5px;
	margin-right: 3px;
}

.country-details-left dd,
.country-details-right dd,
.country-details-bottom dd * {
	float: left;
	margin-bottom: 5px;
}

.borders-md-screen {
	display: none;
	margin-top: 30px;
	grid-column: span 2;
}

@media screen and (min-width: 700px) and (max-width: 900px) {
	.borders-sm-lg-screen {
		display: none;
	}

	.borders-md-screen {
		display: block;
	}

	.country-details img {
		height: 280px;
	}
}

@media screen and (max-width: 700px) {
	.country-details {
		grid-template-columns: repeat(1, 1fr);
	}

	.country-details-infos > div {
		grid-template-columns: repeat(1, 1fr);
	}

	.country-details img {
		width: 100%;
		height: auto;
		margin-bottom: 20px;
	}

	.country-details h2,
	.country-details-left,
	.country-details-right,
	.country-details-bottom {
		margin: 15px 0;
	}
}

@media screen and (max-width: 425px) {
	.country-details h2 {
		font-size: 22px;
	}

	h2,
	.country-details-left,
	.country-details-right,
	.country-details-bottom {
		margin: 10px 0;
	}
}
