.filter-bar {
	position: relative;
	width: 180px;
}

.filter-bar button {
	width: 100%;
	text-align: left;
	font-weight: 600;
	padding: 3px 20px;
}

.filter-bar > button {
	padding: 12px 60px 12px 20px;
	border-radius: 5px;
}

#light .filter-bar > button {
	box-shadow: 3px 3px 5px #f2f2f2, -3px 3px 5px #f2f2f2, 3px -3px 5px #f2f2f2,
		-3px -3px 5px #f2f2f2;
}

#dark .filter-bar > button {
	box-shadow: 3px 3px 5px #1d2a34, -3px 3px 5px #1d2a34, 3px -3px 5px #1d2a34,
		-3px -3px 5px #1d2a34;
}

.filter-bar > div {
	position: absolute;
	margin-top: 5px;
	padding: 5px 0;
	border-radius: 5px;
	z-index: 1;
}

#light .filter-bar > div {
	background-color: hsl(0, 0%, 100%);
	box-shadow: 3px -3px 5px #f2f2f2;
}

#dark .filter-bar > div {
	background-color: hsl(209, 23%, 22%);
	box-shadow: 3px -3px 5px #1d2a34;
}

.filter-bar span {
	position: absolute;
	top: 15px;
	right: 20px;
}

.filter-bar > div > button:hover {
	font-size: 14px;
}
.filter-bar > div > button:active {
	transform: scale(0.98);
}

@media screen and (max-width: 700px) {
	.filter-bar {
		width: 140px;
	}
	.filter-bar button {
		height: 100%;
		padding: 0 15px;
		font-size: 13px;
	}
	.filter-bar span {
		top: 14px;
		right: 10px;
	}
}

@media screen and (max-width: 500px) {
	.filter-bar {
		flex: 0 0 140px;
	}
	.filter-bar > button {
		height: 40px;
	}

	.filter-bar > div > button {
		padding: 4px 20px;
	}
}
