.not-found {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #444;
	font-size: 25px;
	font-weight: 600;
}

.not-found span {
	margin-left: 10px;
	font-size: 20px;
}
