.not-found {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 25px;
	font-weight: 600;
}

.not-found span {
	margin-left: 10px;
	font-size: 20px;
}

#light .not-found * {
	color: hsl(200, 15%, 8%);
}

#dark .not-found * {
	color: hsl(0, 0%, 100%);
}
